::placeholder{
    background-image: url(/image/search-solid.svg);
    background-position-x: 33%;
    background-repeat: no-repeat;
    background-size: 10%;
    text-align: center;
    height: 28px;
    width: 216px;
}
#sticky-sidebar{
    position: fixed;
}

body{
    background-color: #FAFAFA;
}

.rightpanellinks{
    color: #C7C7C7;
    text-decoration: none;
    font-size: 12px;

}